@font-face {
  font-family: "Gilroy";
  src: url("../../assets/fonts/Gilroy-Font/Gilroy-Regular/Gilroy-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../assets/fonts/Gilroy-Font/Gilroy-SemiBold/Gilroy-SemiBold.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../assets/fonts/Gilroy-Font/Gilroy-Light/Gilroy-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../assets/fonts/Gilroy-Font/Gilroy-Bold/Gilroy-Bold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
