.faq {
  &__section {
    background: #fff;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 21px 30px;
    /* color: #314057; */
  }

  &__header.active .minus {
    display: inline;
  }

  &__header.active .plus {
    display: none;
  }

  &__header .minus {
    display: none;
  }

  &__header .plus {
    display: inline;
  }

  &__header.active span {
    color: #fff;
  }

  &__header:hover span {
    color: #fff;
  }

  &__header span {
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  &__content {
    padding: 12px 30px;
    padding-bottom: 0;
    font-size: 0.9rem;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    p {
      color: #fff;
    }
  }

  &__list {
    list-style: none;
    li {
      color: #fff;
      font-size: 1rem;
      padding-bottom: 0.5rem;
    }
  }

  &__content a {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    padding-bottom: 1px;
  }

  &__item {
    height: auto;
    overflow: hidden;
    transition: height 0.3s linear;
    margin-bottom: 1rem;
    background: #26c296;
    box-shadow: 0px 20px 40px rgba(3, 0, 77, 0.04);
    border-radius: 8px;
    width: 100%;
  }

  &-section {
    padding: 80px 0;
  }
}

@media only screen and (min-width: 640px) {
  .faq {
    /* width: 60%; */
    margin-bottom: 0rem;
  }
}

.faq-img {
  position: relative;
  width: 35%;
}

.faq-img img {
  width: 100%;
}
