.footer {
  /* background-image: url(../../assets/images/pattern.png); */
  background-position: right top;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  padding-top: 0rem;
  &__list {
    &-wrapper {
      list-style: none;
      li {
        font-weight: 450;
        font-size: 0.89rem;
        color: rgba(24, 59, 86, 0.56);
        padding-bottom: 1.4rem;
      }
      a {
        color: rgba(24, 59, 86, 0.56);
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    &__header {
      height: 40px;
      position: relative;
      margin-bottom: 1.3rem;
      color: var(--dark-green) !important;
      font-size: 1rem !important;
      font-weight: 700 !important;
      .logo {
        height: 200%;
      }
    }
  }
  &__social-link {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #eef0f2;
    border-radius: 50%;
  }
  &__copy {
    color: #183b56;
    font-weight: 700;
    font-size: 0.7rem;
  }
  &__link {
    color: #455880;

    &:hover {
      color: var(--green);
    }
  }
  &__call {
    box-shadow: 0px 13.8611px 55.4444px #f2f5fa;
    border-radius: 8.31667px;
    transform: translateY(-50%);
    padding: 2.5rem 1.7rem;
  }
}

@media (max-width: 590px) {
  .footer__call {
    width: 90%;
  }
}
